<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://az400myapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8a5c868a-39f7-4c20-9256-b95a169bfe0b/resourceGroups/demofunctionapp/providers/Microsoft.Web/sites/AZ400myapp</ResourceId>
    <UserName>$AZ400myapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://az400myapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>